<!DOCTYPE html>
<html>
<head>
  <title>Brb</title>
  <%= stylesheet_link_tag    "brb/application", media: "all" %>
  <%= javascript_include_tag "brb/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
